<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="active item one">
      <!--<img class="img-responsive" src="images/image20.jpg" alt="Picture 1">-->
      <!--<div class="carousel-caption">-->
        <!--Carousel 1-->
      <!--</div>-->
    </div>
    <div class="item two">
      <!--<img class="img-responsive" src="images/image15.jpg" alt="Picture 2">-->
      <!--<div class="carousel-caption">-->
        <!--Carousel 2-->
      <!--</div>-->
    </div>
    <div class="item three">
      <!--<img class="img-responsive" src="images/image17.jpg" alt="Picture 1">-->
      <!--<div class="carousel-caption">-->
        <!--Carousel 3-->
      <!--</div>-->
    </div>
  </div>
</div>
